In [1]:
import pandas as pd
import os

### Task # Merge all 12 month files into one file

In [11]:
df = pd.read_csv('salesdata/Sales_April_2019.csv')
# finding the dir
files = [file for file in os.listdir('salesdata')]
all_months_data = pd.DataFrame()
for file in files:
    df = pd.read_csv('salesdata/'+file)
    all_month_data = pd.concat([all_months_data,df])

all_month_data.to_csv('all_data.csv',index=False)

#### Read Updated dataframe

In [16]:
all_data = pd.read_csv('all_data.csv')
#all_data

### Clean Up the data

In [21]:
#Finding NaN rows
nan_df = all_data[all_data.isna().any(axis=1)]
nan_df

      Order ID Product Quantity Ordered Price Each Order Date Purchase Address
198        NaN     NaN              NaN        NaN        NaN              NaN
574        NaN     NaN              NaN        NaN        NaN              NaN
776        NaN     NaN              NaN        NaN        NaN              NaN
1383       NaN     NaN              NaN        NaN        NaN              NaN
1436       NaN     NaN              NaN        NaN        NaN              NaN
1465       NaN     NaN              NaN        NaN        NaN              NaN
1719       NaN     NaN              NaN        NaN        NaN              NaN
2556       NaN     NaN              NaN        NaN        NaN              NaN
2795       NaN     NaN              NaN        NaN        NaN              NaN
3602       NaN     NaN              NaN        NaN        NaN              NaN
3865       NaN     NaN              NaN        NaN        NaN              NaN
3977       NaN     NaN              NaN        NaN        NaN              NaN
4015       NaN     NaN              NaN        NaN        NaN              NaN
4208       NaN     NaN              NaN        NaN        NaN              NaN
4253       NaN     NaN              NaN        NaN        NaN              NaN
4533       NaN     NaN              NaN        NaN        NaN              NaN
4606       NaN     NaN              NaN        NaN        NaN              NaN
4852       NaN     NaN              NaN        NaN        NaN              NaN
5309       NaN     NaN              NaN        NaN        NaN              NaN
5984       NaN     NaN              NaN        NaN        NaN              NaN
6212       NaN     NaN              NaN        NaN        NaN              NaN
6772       NaN     NaN              NaN        NaN        NaN              NaN
7156       NaN     NaN              NaN        NaN        NaN              NaN
7495       NaN     NaN              NaN        NaN        NaN              NaN
8435       NaN     NaN              NaN        NaN        NaN              NaN
8539       NaN     NaN              NaN        NaN        NaN              NaN
9124       NaN     NaN              NaN        NaN        NaN              NaN
9177       NaN     NaN              NaN        NaN        NaN              NaN
9202       NaN     NaN              NaN        NaN        NaN              NaN
9237       NaN     NaN              NaN        NaN        NaN              NaN
9244       NaN     NaN              NaN        NaN        NaN              NaN
9382       NaN     NaN              NaN        NaN        NaN              NaN
9672       NaN     NaN              NaN        NaN        NaN              NaN
9853       NaN     NaN              NaN        NaN        NaN              NaN
9936       NaN     NaN              NaN        NaN        NaN              NaN
10012      NaN     NaN              NaN        NaN        NaN              NaN
10274      NaN     NaN              NaN        NaN        NaN              NaN
10878      NaN     NaN              NaN        NaN        NaN              NaN
11384      NaN     NaN              NaN        NaN        NaN              NaN
11662      NaN     NaN              NaN        NaN        NaN              NaN